# default permissions
allow from all

# Set Our Default Directory Index
DirectoryIndex index.php

# 404 not found document
ErrorDocument 404 http://www.winehq.org/site/404

# Modify the PHP configuration (global vars, etc.)
php_value register_globals 0
php_value short_open_tag 0
php_value register_long_arrays 0
php_value magic_quotes_gpc 0
php_flag zlib.output_compression on
