# default permissions
allow from all

# Set Our Default Directory Index
DirectoryIndex index.php

# 404 not found document
ErrorDocument 404 http://www.winehq.org/site/404

# Tell PHP how we want to handle global vars
php_value register_globals 0

