/*******************************************************************/
/* The following styles are copy/pasted from winehq.org stylesheet */
/*******************************************************************/
/* Body Document Defaults */
BODY                {
                     background-color: #E2E2E2;
                     color: #000000;
                     font-family: "bitstream vera sans", "verdana", "arial", "helvetica", sans-serif;
                     margin: 0px 10px 0px 0px;
                     font-size: 12px;
                    }
/* img */
img                 { border: 0; }

/* Link Colors */
A                   { color: #A50D0D; }
A:visited           { color: #FF0000; }
A:hover             { color: #FF6666; text-decoration: underline; }
A:active            { color: #FF0000; }
A.hidden            { text-decoration: none; color: #000000; }

/* General fonts and sizes */
OL,UL,P             { font-size: 12px; }
TD,TR,TH            { font-size: 12px; }
INPUT               { font-size: 12px; }
PRE                 { font-family: monospace; font-size: 12px; }

/* Hn Sizes */
H1                  { font-size: 180%; }
H2                  { font-size: 150%; }
H3                  { font-size: 130%; }
H4                  { font-size: 120%; }
H5                  { font-size: 110%; }

/* WWN Colors */
.wwnQuote           { color: #A8003C; }
p.indent            { padding-left: 1em; padding-right: 1em;}

/* background colors */
.vltgrey            { background-color: #f9f9f9; }
.ltgrey             { background-color: #EFEFEF; }
.grey               { background-color: #C0C0C0; }
.white              { background-color: #FFFFFF; }
.dkgrey             { background-color: #888888; }
.ltblack            { background-color: #999999; }
.black              { background-color: #000000; }
.blueish            { background-color: #bed5f7; }

/* text colors */
.inverse            { color: #FFFFFF; }
.disabled           { color: #999999; }
.normal             { color: #000000; }
.error              { color: #ff0000; }
.water              { color: #6060ff; }
.blueman            { color: #335184; }

/* text styles */
.strike             { text-decoration: line-through; }
.bold               { font-weight: bold; }
.newstitle          { font-size: 14px; font-weight: bold; color: #000000; }

/* Menu Config */
.menuTitle	        { font-size: 12px; color: #ffffff; font-weight: bold; text-decoration: none; }
.menuTitle:visited  { font-size: 12px; color: #ffffff; font-weight: bold; text-decoration: none; }
.menuTitle:hover    { font-size: 12px; color: #ffffff; font-weight: bold; text-decoration: none; }
.menuLink           { font-size: 10px; color: #ffffff; font-weight: bold; }
.menuItem           { font-size: 10px; color: #000000; }
.menuItem:visited   { font-size: 10px; color: #000000; }
.menuItem:hover     { font-size: 10px; color: #A50D0D; } 

.topMenu            { background-color: #601919; }
.sideMenu           { background-color: #FFFFFF; }
.border             { background-color: #601919; }

/* Misc */
.tiny               { font-size: 8px; }
.small              { font-size: 10px; }
.big                { font-size: 14px; }
.rowtitle           { background-color: black; color: white; font-weight: bold; }

/* Generic Buttons */
.button             { background-color: #6b86bb; color: #ffffff; font-family: Sans-Serif; font-size: 12px; padding: 0; }
.searchInput        { background-color: #FFFFFF; color: #000000; font-family: Sans-Serif; font-size: 12px; padding: 0; }

/* Note Blip */
.blip               { color: #ff0000; font-size: 10px; }				   

/* Footer */
.footer             { font-size: 8pt; color: #777777; }

/* Status colors */
.hdr                { background-color: #000000; color: #ffffff; }
.pct0               { background-color: #ff5050; }
.pct5               { background-color: #ff5d4f; }
.pct10              { background-color: #ff694e; }
.pct15              { background-color: #ff764d; }
.pct20              { background-color: #ff824b; }
.pct25              { background-color: #ff8f4a; }
.pct30              { background-color: #ff9b49; }
.pct35              { background-color: #ffa848; }
.pct40              { background-color: #ffb447; }
.pct45              { background-color: #ffc146; }
.pct50              { background-color: #ffcd45; }
.pct55              { background-color: #ffda43; }
.pct60              { background-color: #ffe642; }
.pct65              { background-color: #fff341; }
.pct70              { background-color: #ffff40; }
.pct75              { background-color: #dcff48; }
.pct80              { background-color: #c8ff50; }
.pct85              { background-color: #b4ff58; }
.pct90              { background-color: #a0ff60; }
.pct95              { background-color: #8cff60; }
.pct100             { background-color: #60ff60; }
.nonexistent        { background-color: #ff5050; }
.poor               { background-color: #ff8f4a; }
.outdated           { background-color: #ffcd45; }
.outdadeq           { background-color: #ffff40; }
.adequate           { background-color: #dcff48; }
.adeqgood           { background-color: #c0ff54; }
.good               { background-color: #60ff60; }

/* ToDo colors */
.todo               { background-color: red; }
.inprogress         { background-color: yellow; }
.done               { background-color: #32CD32; }
.invalid            { color: gray; text-decoration: line-through; }

/* Fun Projects */
.works              { background-color: #68838B; }
.abandoned          { background-color: gray; }
.modified           { font-weight: bold; }
.submitted          { font-style: italic; }
.committed          { font-style: italic; color: gray; }

/* App Support status */
.platinum           { background-color: #EFEFEF; }
.gold               { background-color: #fff600; }
.silver             { background-color: silver; }
.bronze             { background-color: #fcba0a; }
.Garbage            { background-color: #999966; }


/*******************************************************************/
/* The following styles are used exclusively in appdb              */
/*******************************************************************/
TD.cline { background-color: #EEEEEE; color: #000000; 
	  text-align: center; font-weight: bold; font-size: 10pt; }

TH.qheader { background-color: #C3C8E5; color: #555555; font-size: 10pt; }
TR.qheader { background-color: #C3C8E5; color: #555555; font-size: 10pt; }

TABLE.bg { background-color: #FF6666; color: #FFFFFF }
TABLE.bg2 { background-color: #E0E0E0; }
TD.bg2 { background-color: #E0E0E0; }

TD.line1 { background-color: #E7E7E7; }
TD.line2 { background-color: #C0C0C0; color: #505050; font-size: 8pt; }
TD.line3 { background-color: #6F6F6F; }
TR.line1 { background-color: #E7E7E7; }
TR.line2 { background-color: #C0C0C0; color: #505050 }
TR.line3 { background-color: #6F6F6F; }


TH.titlex { background-color: #BBC2E5 }
TH.title { background-color: #C0C0C0; font-weight: bold }
TD.title { background-color: #C0C0C0; font-weight: bold }
TD.btitle { background-color: #FFFFFF }

TH.sqtitle { background-color: #C3C8E5; color: #555555 }


TR.buttons { background-color: #BDDAE5 }
TD.button { background-color: #BDDAE5 }
TD.button2 { background-color: #ABB2D5; }

/* query row colors */
.color0 { background-color: #E0E0E0 }
.color1 { background-color: #C0C0C0 }
.color2 { background-color: #FFFFFF }
.color3 { background-color: #666666 }
.color4 { background-color: #999999 }

/* Colors for supported apps table */
.gold { background-color: #daa520 }

/* box */
.box-title { background-color: #AAAAAA; color: #FFFFFF; font-weight: bold }
.box-label { background-color: #C0C0C0 }
.box-body  { background-color: #E0E0E0 }

/* labels */
TD.label { font-weight: bold }

/* for inwine/intwine */
TD.yes { color: #00B100; font-style: italic; text-align: center }
TD.no  { color: #B10000; font-style: italic; text-align: center }
TD.stub { color: #0000B1; font-style: italic; text-align: center }

/* width of the application column in the top 'X' lists on the main page */
TD.app_name { width: 150px }

/* Rating Number */
.rating { font-family: Helvetica, Arial; font-size: 6pt; color: #333333; }		  


/* Vote Button */
.votebutton	{ background-color: #666666; color: #ffffff; font-family: Helvetica, Arial; font-size: 8pt; padding: 0; }


/* Rate Button */
.ratebutton	{ background-color: #666666; color: #ffffff; font-family: Helvetica, Arial; font-size: 8pt; padding: 0; }


/* Search Button */
.searchbutton	{ background-color: #666666; color: #ffffff; font-family: Helvetica, Arial; font-size: 10pt; padding: 0; }

/* Search Field */
.searchfield	{ background-color: #E0E0E0; color: #666666; font-family: Helvetica, Arial; font-size: 10pt; padding: 0; }

/* Note box */
.note { padding: 7px; }

/*******************************************************************/
/* Specific elements                                               */
/*******************************************************************/

/* Main table */
.mainTable { padding-left: 7px; }

/* Banner div */
#banner { border: 1px solid black; }

/* Editor textarea */
#editor { height: 25em; width:700px; }
