/***********************************************************************/
/* The following styles are used for application description and notes */
/***********************************************************************/

.title { font-weight: bold; }

.subtitle { text-decoration: underline; font-style: italic; }

.code { font-family: monospace; font-size: 12px; }

p {
      font-family: "bitstream vera sans", "verdana", "arial", "helvetica", sans-serif;
      font-size: 12px;
   }
thead.historyHeader { font-weight: bold }

table.historyTable { border: 1px; 
                     font-family: "bitstream vera sans", "verdana", "arial", "helvetica", sans-serif;
                     font-size: 12px; }

td.gold { background-color: #fff600; }
td.silver { background-color: silver; }
td.bronze { background-color: #fcba0a; }
td.garbage { background-color: #999966; }

tr.gold { background-color: #fff600; }
tr.silver { background-color: silver; }
tr.bronze { background-color: #fcba0a; }
tr.garbage { background-color: #999966; }
