<?php
/*************************/
/* config file for AppDB */
/*************************/


/*
 * global params
 */
define("APPDB_DEBUG","0"); //turns debugging on/off
define("APPDB_DONT_CLEAR_COOKIES_VAR","0"); // set to 1 if you have more than one Web application on the same virtual host
define("APPDB_THUMBNAIL_WIDTH","128"); // width of the screenshot's thumbnails
define("APPDB_THUMBNAIL_HEIGHT","128"); // height of the screenshot's thumbnails
define("APPDB_SCREENSHOT_MAXWIDTH","1024"); // width of the screenshot's thumbnails
define("APPDB_SCREENSHOT_MAXHEIGHT","768"); // height of the screenshot's thumbnails
define("APPDB_ROOT", "http://localhost/appdb/");  // path to AppDB
define("APPDB_OWNER","WineHQ"); // with what product/company is this AppDB related ?
define("APPDB_OWNER_URL","http://www.winehq.org/"); // website of this product/company
define("APPDB_OWNER_EMAIL","appdb@winehq.org"); // e-mail of this product/company
define("APPDB_SENDER_EMAIL","appdb-noreply@winehq.org"); // The e-mail address which appears as the sender in mails sent by the AppDB
define("BUGZILLA_ROOT","http://bugs.winehq.org/"); // path to bugzilla

// AppDB developers: Use this define to disable email from being sent from the appdb during testing
//if(!defined("DISABLE_EMAIL"))
// define("DISABLE_EMAIL", true); // disable email, see mail_appdb() in include/mail.php

// AppDB developers: Use this define to print the contents of the e-mail instead
// of sending it, useful for testing e-mail notifications.  Has no effect if
// DISABLE_EMAIL is set
//if(!defined("PRINT_EMAIL"))
// define("PRINT_EMAIL", true); // print email, see mail_appdb() in include/mail.php

/*
 * apps database info
 */
define("APPS_DBUSER","wineowner");
define("APPS_DBPASS","lemonade");
define("APPS_DBHOST","localhost");
define("APPS_DB","apidb");


/*
 * bugzilla database info
 */
define("BUGZILLA_DBUSER","root");
define("BUGZILLA_DBPASS","");
define("BUGZILLA_DBHOST","localhost");
define("BUGZILLA_DB","bugs");
define("BUGZILLA_PRODUCT_ID","1");
?>
