<?php
/*************************/
/* config file for appDB */
/*************************/


/*
 * global params
 */
$apidb_debug = 0;   //turns debugging on/off

/*
 * api database info
 */
$apidb_dbuser = "wineowner";
$apidb_dbpass = "lemonade";
$apidb_dbhost = "localhost";
$apidb_db     = "apidb";


/*
 * user database info
 */
$userdb_dbuser = "wineowner";
$userdb_dbpass = "lemonade";
$userdb_dbhost = "localhost";
$userdb_db     = "apidb";

/*
 * Bugzilla database info
 */
$bugzilla_dbuser = "root";
$bugzilla_dbpass = "";
$bugzilla_dbhost = "localhost";
$bugzilla_db     = "bugs";
/* $bugzilla_db_port = 3306; is this needed? I dont think so.*/
$bugzilla_product_id = 1;

?>
