<?php
/*************************/
/* config file for AppDB */
/*************************/


/*
 * global params
 */
define("APPDB_DEBUG","0"); //turns debugging on/off
define("APPDB_THUMBNAIL_WIDTH","128"); // width of the screenshot's thumbnails
define("APPDB_THUMBNAIL_HEIGHT","128"); // height of the screenshot's thumbnails
define("APPDB_SCREENSHOT_MAXWIDTH","800"); // width of the screenshot's thumbnails
define("APPDB_SCREENSHOT_MAXHEIGHT","600"); // height of the screenshot's thumbnails
define("APPDB_ROOT", "http://appdb.winehq.org/");  // path to AppDB
define("STANDARD_NOTIFY_FOOTER","------- You are receiving this mail because: -------\n".
"You are an maintainer of this application or an AppDB administrator\n".
"to change your preferences go to: ".APPDB_ROOT."preferences.php\n");
define("APPDB_OWNER","WineHQ"); // with what product/company is this AppDB related ?
define("APPDB_OWNER_URL","http://www.winehq.org/"); // website of this product/company
define("BUGZILLA_ROOT","http://bugs.winehq.org/"); // path to bugzilla


/*
 * apps database info
 */
define("APPS_DBUSER","wineowner");
define("APPS_DBPASS","lemonade");
define("APPS_DBHOST","localhost");
define("APPS_DB","apidb");


/*
 * users database info
 */
define("USERS_DBUSER","wineowner");
define("USERS_DBPASS","lemonade");
define("USERS_DBHOST","localhost");
define("USERS_DB","apidb");


/*
 * bugzilla database info
 */
define("BUGZILLA_DBUSER","root");
define("BUGZILLA_DBPASS","");
define("BUGZILLA_DBHOST","localhost");
define("BUGZILLA_DB","bugs");
define("BUGZILLA_PRODUCT_ID","1");
?>
